<div style="float:right; padding-top: 15px; padding-right: 15px">
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="250">
        </a>
    </div>
</div>

# Functional programming

## 1. introduction

* functions are a way to modularize and reuse code
* functions are code that performs a task, usually have input(s) and output(s)
* as a beginner, it is easy to write in a scripting - procedural style
* it is relatively hard to get the right level of abstraction while writing functions and it requires a programmer mindset

## 2. writing functions

let's start writting a simple function that ensembles a phrase from a list of words...

In [1]:
def list2string(str_lst):
    string = ' '.join(str_lst)
    return string

In [2]:
a = list2string(['a', 'b', 'c'])
a

'a b c'

In [3]:
to_string_list = ['my', 'name', 'is', 'David']

list2string(to_string_list)

'my name is David'

there are other ways to pass the agruments to the function...

In [4]:
# directly in the function call

list2string(['my', 'name', 'is', 'Pepe'])

'my name is Pepe'

In [6]:
# as a keyword argument

list2string(str_lst=to_string_list)

'my name is David'

In [13]:
# this will raise a TypeError

list2string(['my', 'name', 'is', 1])

TypeError: sequence item 3: expected str instance, int found

fix? below

In [14]:
# functions can have any computation inside, there is no limits...

def list2string(str_lst):
    str_lst_fixed = [str(e) for e in str_lst]
    string = ' '.join(str_lst_fixed)
    return string

list2string(['my', 'name', 'is', 1])

'my name is 1'

two interesting concepts while passing arguments to functions, args and kwargs...

args:

In [15]:
# this function expects an 

def multiply(*args):
    mult = 1
    for arg in args:
        mult *= arg
    return mult

In [16]:
multiply(1, 2, 3, 4)

24

In [17]:
# can even pass arguments as a list using '*'

numbers_to_multiply = [1, 2, 3, 4]
multiply(*numbers_to_multiply)

24

kwargs:

In [18]:
# can have arbitrary keyword arguments

def keyword_arguments(**kwargs):
    print(kwargs)
    return 1

In [19]:
a = keyword_arguments(a=5, b=2, c=3, david=45, asdf='b')

{'a': 5, 'b': 2, 'c': 3, 'david': 45, 'asdf': 'b'}

## 3. global vs local variables

this concept is complex, do not get frustrated, but be careful...

In [20]:
a = 'this variable is global'

# global variables can be used inside functions, but can not be modified

def random_function_1():
    print(a)  # what does this function returns?

In [21]:
# functions can have no arguments, this function uses a global variable without trying to modify it

random_function_1()

this variable is global

In [26]:
# this function tries to overwrite the global variable, but it is not possible...

a = 1

def random_function_2(b):
    print(a)
    a = a + b
    return a

In [27]:
# so it is going to fail...

random_function_2(9)

UnboundLocalError: local variable 'a' referenced before assignment

fix?

In [28]:
# call the global variable inside function

a = 1

def random_function_2(b):
    global a  # this is considered a very bad practice btw
    print(a)
    a = 9
    print(a, b)

In [29]:
random_function_2(8)

1
9 8

In [144]:
a

9

be careful with default arguments and mutability...

In [22]:
import random
a = []

def append_random(l=[3, 4, 5]):
    print(a)
    random_int = random.randint(1, 20)
    l.append(random_int)
    print(l)
    print('ok')

running several times...

In [28]:
append_random()

[]
[3, 4, 5, 20, 11, 14, 6, 1, 5]
ok

local variables are not available outside the function:

In [29]:
# this function define a local scope variable c inside

a = 1

def random_function_3(b):
    c = a + b
    print(c)

In [30]:
random_function_3(5)

6

In [31]:
# this will raise a NameError as c is not available outside

print(c)

NameError: name 'c' is not defined

## 4. pandas apply (why is this here?)

<font color=red>WARNING</font>: be extremely careful while manipulating pandas DataFrames inside functions as some operations modify original object while others just return a copy. It usually leads to confusion.

In [32]:
import pandas as pd

In [33]:
data = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/carData/Arrests.csv',  # dataset about Arrests for Marijuana Possession 
                   index_col=0)

In [34]:
data

     released colour  year  age     sex employed citizen  checks
1         Yes  White  2002   21    Male      Yes     Yes       3
2          No  Black  1999   17    Male      Yes     Yes       3
3         Yes  White  2000   24    Male      Yes     Yes       3
4          No  Black  2000   46    Male      Yes     Yes       1
5         Yes  Black  1999   27  Female      Yes     Yes       1
6         Yes  Black  1998   16  Female      Yes     Yes       0
7         Yes  White  1999   40    Male       No     Yes       0
8         Yes  White  1998   34  Female      Yes     Yes       1
9         Yes  Black  2000   23    Male      Yes     Yes       4
10        Yes  White  2001   30    Male      Yes     Yes       3
11        Yes  White  1999   18    Male      Yes      No       0
12        Yes  White  2000   18    Male      Yes     Yes       3
13        Yes  White  2000   17    Male      Yes     Yes       1
14        Yes  Black  1997   42    Male      Yes     Yes       0
15        Yes  Black  1999   26    Male       No     Yes       2
16        Yes  White  2001   25    Male       No     Yes       3
17         No  White  2001   45    Male       No     Yes       4
18         No  White  2002   20    Male      Yes     Yes       5
19        Yes  White  2001   32  Female       No     Yes       3
20         No  White  1998   14    Male      Yes     Yes       0
21        Yes  White  1998   18    Male      Yes      No       0
22        Yes  White  2001   15    Male       No     Yes       2
23        Yes  White  2001   16    Male      Yes     Yes       0
24         No  White  2000   27  Female       No     Yes       3
25        Yes  White  2000   49    Male      Yes     Yes       0
26        Yes  White  2001   21    Male       No     Yes       3
27        Yes  Black  2001   29    Male      Yes     Yes       3
28        Yes  White  2000   28    Male      Yes      No       0
29        Yes  White  2000   19    Male       No     Yes       0
30        Yes  White  1999   28    Male      Yes     Yes       3
...       ...    ...   ...  ...     ...      ...     ...     ...
5197      Yes  White  2000   38    Male      Yes      No       2
5198      Yes  White  2001   16    Male      Yes     Yes       0
5199      Yes  White  1997   18    Male      Yes      No       2
5200       No  White  1999   15    Male      Yes     Yes       2
5201      Yes  White  1998   19    Male      Yes     Yes       3
5202      Yes  White  1997   16    Male      Yes      No       0
5203      Yes  White  2002   45    Male       No     Yes       3
5204      Yes  White  2000   20    Male      Yes     Yes       1
5205      Yes  Black  2001   17    Male      Yes     Yes       0
5206       No  White  2000   27    Male      Yes     Yes       2
5207      Yes  White  2002   46    Male      Yes     Yes       1
5208      Yes  White  2000   19  Female      Yes     Yes       3
5209      Yes  White  2002   30    Male      Yes     Yes       3
5210      Yes  White  2001   42    Male       No     Yes       3
5211      Yes  White  2000   36    Male      Yes     Yes       2
5212      Yes  White  1999   16    Male       No     Yes       0
5213       No  Black  2001   27    Male      Yes     Yes       3
5214      Yes  Black  1998   19    Male      Yes     Yes       3
5215      Yes  White  2002   19    Male      Yes     Yes       1
5216       No  Black  1999   42    Male      Yes     Yes       5
5217      Yes  White  1998   21    Male      Yes     Yes       0
5218      Yes  White  1998   17    Male      Yes     Yes       2
5219      Yes  White  2001   16    Male       No     Yes       3
5220      Yes  White  2000   24    Male      Yes     Yes       2
5221      Yes  White  2002   22    Male      Yes     Yes       0
5222      Yes  White  2000   17    Male      Yes     Yes       0
5223      Yes  White  2000   21  Female      Yes     Yes       0
5224      Yes  Black  1999   21  Female      Yes     Yes       1
5225       No  Black  1998   24    Male      Yes     Yes       4
5226      Yes  White  1999   16    Male      Yes     Yes       3

[5226 rows x 8 columns]

In [106]:
data

     released colour  year  age     sex employed citizen  checks
1         Yes  White  2002   21    Male      Yes     Yes       3
2          No  Black  1999   17    Male      Yes     Yes       3
3         Yes  White  2000   24    Male      Yes     Yes       3
4          No  Black  2000   46    Male      Yes     Yes       1
5         Yes  Black  1999   27  Female      Yes     Yes       1
...       ...    ...   ...  ...     ...      ...     ...     ...
5222      Yes  White  2000   17    Male      Yes     Yes       0
5223      Yes  White  2000   21  Female      Yes     Yes       0
5224      Yes  Black  1999   21  Female      Yes     Yes       1
5225       No  Black  1998   24    Male      Yes     Yes       4
5226      Yes  White  1999   16    Male      Yes     Yes       3

[5226 rows x 8 columns]

In [35]:
def get_means(df):
    df.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
    numeric = df.select_dtypes('number')
    means_df = pd.DataFrame(numeric.mean()).reset_index()
    means_df.columns = ['colname', 'mean']
    return means_df

In [108]:
get_means(data)

  colname         mean
0       c  1999.509376
1       d    23.846537
2       h     1.636433

In [109]:
data

        a      b     c   d       e    f    g  h
1     Yes  White  2002  21    Male  Yes  Yes  3
2      No  Black  1999  17    Male  Yes  Yes  3
3     Yes  White  2000  24    Male  Yes  Yes  3
4      No  Black  2000  46    Male  Yes  Yes  1
5     Yes  Black  1999  27  Female  Yes  Yes  1
...   ...    ...   ...  ..     ...  ...  ... ..
5222  Yes  White  2000  17    Male  Yes  Yes  0
5223  Yes  White  2000  21  Female  Yes  Yes  0
5224  Yes  Black  1999  21  Female  Yes  Yes  1
5225   No  Black  1998  24    Male  Yes  Yes  4
5226  Yes  White  1999  16    Male  Yes  Yes  3

[5226 rows x 8 columns]

easier:

In [110]:
data.mean()

c    1999.509376
d      23.846537
h       1.636433
dtype: float64

In [111]:
%%timeit 

data.mean()

24.4 ms ± 534 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [112]:
%%timeit

get_means(data)

1.9 ms ± 71.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

(OPTIONAL) DataFrame modification example...

In [113]:
# Here

(OPTIONAL) function inception:

In [116]:
def a(b):
    v = 5
    def c(d):
        global v
        v = 0
        return v ** 2 + d
    return 5 * c(b)

In [117]:
a(2)

10

<div style="padding-top: 25px; float: right">
    <div>    
        <i>&nbsp;&nbsp;© Copyright by</i>
    </div>
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="125">
        </a>
    </div>
</div>