<div style="float:right; padding-top: 15px; padding-right: 15px">
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="250">
        </a>
    </div>
</div>

# dataframe calculations, extended with big data tools...

## 1. introduction

* calculations with pandas are 'easy'
* calculations are usually fast depending on your machine and size of dataset
* when dataset size exceeds your computer memory, can use big data tools to break the dataset in chunks and process it step by step
* big data tools allow you to make this process automatically and take care of everything under the hood with little extra code
* Spark is the most popular Big Data framework so far
* Spark syntax resembles pandas with some differences

## 2. pure pandas approach

In [1]:
import pandas as pd

### 2.1 data loading

let's use a 'huge' dataset from Renfe trips...

https://www.kaggle.com/thegurusteam/spanish-high-speed-rail-system-ticket-pricing/data

In [2]:
renfe = pd.read_csv('./data/renfe_sample.csv', low_memory=True)

with this cell we can inspect memory usage, it runs slow...

In [3]:
renfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   100000 non-null  int64
 1   insert_date  100000 non-null  object
 2   origin       100000 non-null  object
 3   destination  100000 non-null  object
 4   start_date   100000 non-null  object
 5   end_date     100000 non-null  object
 6   train_type   100000 non-null  object
 7   price        68978 non-null   float64
 8   train_class  71104 non-null   object
 9   fare         71104 non-null   object
 10  price_tree   70016 non-null   object
 11  batch        58099 non-null   object
 12  id           71561 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 9.9+ MB

renfe.info(memory_usage='deep')

### 2.2 some calculations with pandas

#### combining string columns

first, let's make an expensive string column combination in pure pandas...

In [4]:
renfe['destination_origin'] = renfe['origin'] + '_' + renfe['destination']

In [5]:
renfe['destination_origin']

0         MADRID_BARCELONA
1         BARCELONA_MADRID
2        MADRID_PONFERRADA
3          MADRID_PALENCIA
4            GIRONA_MADRID
               ...
99995       SEVILLA_MADRID
99996          LEON_MADRID
99997      VALENCIA_MADRID
99998      VALENCIA_MADRID
99999     MADRID_TARRAGONA
Name: destination_origin, Length: 100000, dtype: object

#### working with dates

let's check our departure and arrival dates data type...

In [6]:
renfe['start_date']

0        2019-04-19 11:30:00
1        2020-05-29 18:00:00
2        2019-05-20 12:20:00
3        2020-04-11 08:00:00
4        2020-05-30 08:11:00
                ...
99995    2019-07-18 20:15:00
99996    2020-04-29 06:40:00
99997    2020-03-18 09:50:00
99998    2019-06-29 14:50:00
99999    2020-03-31 20:30:00
Name: start_date, Length: 100000, dtype: object

let's convert those columns into a proper date column using `to_datetime` function...

In [7]:
renfe['start_date'] = pd.to_datetime(renfe['start_date'])
renfe['end_date'] = pd.to_datetime(renfe['end_date'])

now, we have a `datetime64[ns]` column... cool right?

In [8]:
renfe['start_date']

0       2019-04-19 11:30:00
1       2020-05-29 18:00:00
2       2019-05-20 12:20:00
3       2020-04-11 08:00:00
4       2020-05-30 08:11:00
                ...
99995   2019-07-18 20:15:00
99996   2020-04-29 06:40:00
99997   2020-03-18 09:50:00
99998   2019-06-29 14:50:00
99999   2020-03-31 20:30:00
Name: start_date, Length: 100000, dtype: datetime64[ns]

let's make all those trains departure an hour later!

In [9]:
renfe['start_date'] + pd.to_timedelta('1 hour')

0       2019-04-19 12:30:00
1       2020-05-29 19:00:00
2       2019-05-20 13:20:00
3       2020-04-11 09:00:00
4       2020-05-30 09:11:00
                ...
99995   2019-07-18 21:15:00
99996   2020-04-29 07:40:00
99997   2020-03-18 10:50:00
99998   2019-06-29 15:50:00
99999   2020-03-31 21:30:00
Name: start_date, Length: 100000, dtype: datetime64[ns]

let's compute the duration of the trip, just substract arrival and departure date to do that...

In [10]:
renfe['trip_duration'] = renfe['end_date'] - renfe['start_date']

the new column looks like this:

In [11]:
renfe['trip_duration']

0       03:10:00
1       03:10:00
2       06:32:00
3       02:37:00
4       04:59:00
          ...
99995   02:21:00
99996   04:46:00
99997   07:38:00
99998   07:27:00
99999   02:33:00
Name: trip_duration, Length: 100000, dtype: timedelta64[ns]

look at the column type, it is a `timedelta64[ns]`, used for time intervals...

in case we need it in hours, using [`dt`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) accesor...

In [12]:
renfe['trip_duration'].dt.seconds / 3600

0        3.166667
1        3.166667
2        6.533333
3        2.616667
4        4.983333
           ...
99995    2.350000
99996    4.766667
99997    7.633333
99998    7.450000
99999    2.550000
Name: trip_duration, Length: 100000, dtype: float64

`timedelta64[ns]` colums supports operations like:

In [13]:
renfe['trip_duration'] * 10

0       1 days 07:40:00
1       1 days 07:40:00
2       2 days 17:20:00
3       1 days 02:10:00
4       2 days 01:50:00
              ...
99995   0 days 23:30:00
99996   1 days 23:40:00
99997   3 days 04:20:00
99998   3 days 02:30:00
99999   1 days 01:30:00
Name: trip_duration, Length: 100000, dtype: timedelta64[ns]

timedeltas can also be used with `timedelta64[ns]` columns...

In [14]:
renfe['trip_duration'] + pd.to_timedelta('01:00:00')

0       04:10:00
1       04:10:00
2       07:32:00
3       03:37:00
4       05:59:00
          ...
99995   03:21:00
99996   05:46:00
99997   08:38:00
99998   08:27:00
99999   03:33:00
Name: trip_duration, Length: 100000, dtype: timedelta64[ns]

#### conditional calculations

let's use numpy to create a new column based on conditions...

In [15]:
import numpy as np

In [16]:
np.where(renfe['trip_duration'].dt.seconds > 3600 * 2.5, 'long_trip', 'short_trip')

array(['long_trip', 'long_trip', 'long_trip', ..., 'long_trip',
       'long_trip', 'long_trip'], dtype='<U10')

assign array to a new column...

In [17]:
renfe['duration_description'] = np.where(renfe['trip_duration'].dt.seconds > 3600 * 2.5, 
                                         'long_trip', 
                                         'short_trip')

there is a [`.where`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.where.html) method for `DataFrame` and `Serie` which is very slow...

## 3. using pandas multicore with [modin](https://github.com/modin-project/modin)

to get modin:

!pip install modin[ray] psutil

let's import modin pandas wrapper as `mp` (modin pandas)...

In [18]:
import modin.pandas as mp

let's load some data... (**you may have to restart your kernel to free memory**)...

In [19]:
renfe = mp.read_csv('./data/renfe_sample.csv')

from here, usage is similar to a standard `DataFrame`

let's create a column to identify route...

In [20]:
renfe['route'] = renfe['origin'] + '_' + renfe['destination']

let's make some computation...

In [21]:
renfe.groupby('route')['price'].mean()

route
ALBACETE_MADRID       29.442580
ALICANTE_MADRID       46.498631
BARCELONA_MADRID      82.726995
CADIZ_MADRID          62.529825
CASTELLON_MADRID      43.772038
CIUDAD REAL_MADRID    30.904651
CORDOBA_MADRID        54.736619
CUENCA_MADRID         24.257658
GIRONA_MADRID         88.319275
GRANADA_MADRID        55.968454
GUADALAJARA_MADRID    14.360976
HUESCA_MADRID         48.702941
LEON_MADRID           37.079920
LLEIDA_MADRID         62.201745
MADRID_ALBACETE       29.726063
MADRID_ALICANTE       45.366523
MADRID_BARCELONA      82.709074
MADRID_CADIZ          66.286170
MADRID_CASTELLON      44.025358
MADRID_CIUDAD REAL    31.568367
MADRID_CORDOBA        56.247775
MADRID_CUENCA         24.398421
MADRID_GIRONA         89.032615
MADRID_GRANADA        54.736787
MADRID_GUADALAJARA    13.096296
MADRID_HUESCA         49.210526
MADRID_LEON           34.085885
MADRID_LLEIDA         61.685412
MADRID_MALAGA         66.755578
MADRID_PALENCIA       29.857619
MADRID_PONFERRADA     43.845738
MADRID_SEGOVIA        18.042500
MADRID_SEVILLA        59.398472
MADRID_TARRAGONA      63.618848
MADRID_TOLEDO         13.900000
MADRID_VALENCIA       40.833309
MADRID_VALLADOLID     32.442812
MADRID_ZAMORA         27.889655
MADRID_ZARAGOZA       44.942664
MALAGA_MADRID         66.294735
PALENCIA_MADRID       29.518750
PONFERRADA_MADRID     42.490642
SEGOVIA_MADRID        18.085938
SEVILLA_MADRID        57.924508
TARRAGONA_MADRID      64.439824
TOLEDO_MADRID         13.900000
VALENCIA_MADRID       39.861578
VALLADOLID_MADRID     32.784386
ZAMORA_MADRID         27.668519
ZARAGOZA_MADRID       44.098327
Name: price, dtype: float64

let's make some filters...

In [22]:
filter_with_price_tree = renfe['price_tree'] != '{}'
filter_not_null = renfe['price_tree'].notnull()

let's get a price tree...

In [23]:
renfe[filter_not_null & filter_with_price_tree].iat[10000, 9]

'Flexible'

## 4. big data tools: Spark

[Spark](https://spark.apache.org/) is probably the most renowned big data tool on the market. It started as an open source project from Harvard University and quickly evolved into a standard.

### 4.1 installation

install Spark doing...

!conda install pyspark openjdk -y

yeah... you need Java to run Spark. It is written in [Scala](https://www.scala-lang.org/), a JVM based (and functional style) language. Scala is the language of Big Data (although Python is catching up quickly)...

### 4.2 setup (yeah... not so easy as pandas)

In [24]:
from pyspark.sql import SparkSession

In [25]:
spark = SparkSession.builder. \
            appName('big_data_tools'). \
            master('local[*]'). \
            config('spark.sql.repl.eagerEval.enabled', True). \
            config('spark.sql.session.timeZone', 'UTC'). \
            config('spark.driver.memory', '16G'). \
            config('spark.driver.maxResultSize', '2G'). \
            getOrCreate()

In [26]:
spark

let's load some data...

### 4.3 load data

In [27]:
renfe = spark.read.option("quote", "\"").option("escape", "\"").csv('./data/renfe_sample.csv', header=True, inferSchema=True)

let's check data types...

In [28]:
renfe.dtypes

[('_c0', 'int'),
 ('insert_date', 'timestamp'),
 ('origin', 'string'),
 ('destination', 'string'),
 ('start_date', 'timestamp'),
 ('end_date', 'timestamp'),
 ('train_type', 'string'),
 ('price', 'double'),
 ('train_class', 'string'),
 ('fare', 'string'),
 ('price_tree', 'string'),
 ('batch', 'timestamp'),
 ('id', 'double')]

In [29]:
renfe.show()

+--------+-------------------+----------+-----------+-------------------+-------------------+----------+-----+-------------------+--------+--------------------+-------------------+-----------+
|     _c0|        insert_date|    origin|destination|         start_date|           end_date|train_type|price|        train_class|    fare|          price_tree|              batch|         id|
+--------+-------------------+----------+-----------+-------------------+-------------------+----------+-----+-------------------+--------+--------------------+-------------------+-----------+
| 4569288|2019-04-18 11:47:08|    MADRID|  BARCELONA|2019-04-19 09:30:00|2019-04-19 12:40:00|       AVE|107.7|            Turista|Flexible|                null|               null|       null|
|22860054|2020-03-18 19:42:00| BARCELONA|     MADRID|2020-05-29 16:00:00|2020-05-29 19:10:00|       AVE| null|               null|    null|                  {}|2020-03-18 17:15:00|1.2103742E7|
| 5687485|2019-04-29 19:08:10|    MADRID| PONFERRADA|2019-05-20 10:20:00|2019-05-20 16:52:00|     LD-MD|34.35| Turista con enlace| Promo +|                null|               null|       null|
|13856339|2020-02-22 01:04:41|    MADRID|   PALENCIA|2020-04-11 06:00:00|2020-04-11 08:37:00|     LD-MD| 38.9| Turista con enlace|Flexible|{"Turista con enl...|2020-02-21 23:00:00|  3110678.0|
|19660069|2020-03-08 20:05:07|    GIRONA|     MADRID|2020-05-30 06:11:00|2020-05-30 11:10:00| AVANT-AVE| 78.2| Turista con enlace|   Promo|{"Turista con enl...|2020-03-08 16:00:00|  8871715.0|
| 5301099|2019-04-23 22:22:55|   SEVILLA|     MADRID|2019-05-29 15:45:00|2019-05-29 18:17:00|       AVE| 76.3|            Turista|Flexible|                null|               null|       null|
|10926000|2019-11-10 02:04:44|  VALENCIA|     MADRID|2019-12-14 07:10:00|2019-12-14 11:22:00| INTERCITY| null|            Turista|Flexible|                null|               null|   180339.0|
|16109477|2020-02-29 14:04:45|   CORDOBA|     MADRID|2020-04-28 08:42:00|2020-04-28 10:36:00|     ALVIA| 55.9|            Turista|Flexible|{"Turista": {"Fle...|2020-02-29 06:00:00|  5363816.0|
|15481446|2019-10-28 10:19:12|    MADRID|    SEVILLA|2019-12-05 07:30:00|2019-12-05 10:14:00|     ALVIA| 67.2|            Turista|Flexible|                null|               null|  4735785.0|
| 6503835|2019-05-12 21:35:06|  VALENCIA|     MADRID|2019-05-18 06:10:00|2019-05-18 10:28:00| INTERCITY| 30.9|       Turista Plus|   Promo|                null|               null|       null|
| 3652193|2019-08-02 13:38:10|  VALENCIA|     MADRID|2019-08-05 06:00:00|2019-08-05 07:47:00|       AVE|66.55|         Preferente|   Promo|                null|               null|       null|
|10964855|2019-11-10 16:09:21| BARCELONA|     MADRID|2019-12-13 18:00:00|2019-12-13 21:00:00|       AVE|107.7|            Turista|Flexible|                null|               null|   219194.0|
|18531373|2020-03-05 06:52:37|    MADRID|    CORDOBA|2020-03-30 11:10:00|2020-03-30 16:46:00|     MD-LD|29.05| Turista con enlace| Promo +|{"Turista con enl...|2020-03-05 02:00:00|  7763546.0|
|10828947|2019-11-08 14:00:39|    MADRID|   VALENCIA|2019-11-14 17:40:00|2019-11-14 19:20:00|       AVE| 73.1|TuristaSólo plaza H|Flexible|                null|               null|    83286.0|
|   69411|2019-04-12 11:28:28|    MADRID|  BARCELONA|2019-05-24 07:30:00|2019-05-24 10:34:00|       AVE| null|       Turista Plus|   Promo|                null|               null|       null|
| 9604245|2020-04-05 14:22:19|    GIRONA|     MADRID|2020-04-19 16:11:00|2020-04-19 20:00:00|       AVE| null|               null|    null|                  {}|2020-04-05 12:15:00|1.8277679E7|
| 4044821|2019-08-17 03:03:57|    MADRID|    SEVILLA|2019-09-30 05:30:00|2019-09-30 07:51:00|       AVE| 69.4|         Preferente|   Promo|                null|               null|       null|
|21302386|2020-03-12 15:03:54|VALLADOLID|     MADRID|2020-05-10 17:14:00|2020-05-10 18:33:00| INTERCITY| null|               null|    null|                  {}|2020-03-12 13:00:00|1.0492007E7|
| 9207221|2020-04-04 08:23:20|    MADRID|  TARRAGONA|2020-05-21 16:30:00|2020-05-21 18:43:00|       AVE| null|               null|    null|                  {}|2020-04-04 06:15:00| 1.787969E7|
|11777957|2020-02-06 02:02:21|   SEVILLA|     MADRID|2020-02-19 13:45:00|2020-02-19 16:15:00|       AVE|41.65|            Turista|   Promo|{"Turista": {"Pro...|               null|  1032296.0|
+--------+-------------------+----------+-----------+-------------------+-------------------+----------+-----+-------------------+--------+--------------------+-------------------+-----------+
only showing top 20 rows

### 4.4 basic operations

#### select a column

In [30]:
renfe.select('origin').show()

+----------+
|    origin|
+----------+
|    MADRID|
| BARCELONA|
|    MADRID|
|    MADRID|
|    GIRONA|
|   SEVILLA|
|  VALENCIA|
|   CORDOBA|
|    MADRID|
|  VALENCIA|
|  VALENCIA|
| BARCELONA|
|    MADRID|
|    MADRID|
|    MADRID|
|    GIRONA|
|    MADRID|
|VALLADOLID|
|    MADRID|
|   SEVILLA|
+----------+
only showing top 20 rows

#### get the data (note the lazy evaluation vs instant computation difference)

In [31]:
origin_destination = renfe.select(['origin', 'destination']).collect()

In [32]:
origin_destination[0].asDict()

{'origin': 'MADRID', 'destination': 'BARCELONA'}

#### filter data

In [33]:
from pyspark.sql import functions as sf

In [34]:
renfe_filtered = renfe.filter(renfe.price_tree.isNotNull())

In [35]:
renfe_filtered = renfe_filtered.filter((sf.col('price_tree') != "{}") & \
                                       (sf.col('price') < 60))

In [36]:
renfe_filtered.show()

+--------+-------------------+--------+-----------+-------------------+-------------------+----------+-----+------------------+--------+--------------------+--------------------+-----------+
|     _c0|        insert_date|  origin|destination|         start_date|           end_date|train_type|price|       train_class|    fare|          price_tree|               batch|         id|
+--------+-------------------+--------+-----------+-------------------+-------------------+----------+-----+------------------+--------+--------------------+--------------------+-----------+
|13856339|2020-02-22 01:04:41|  MADRID|   PALENCIA|2020-04-11 06:00:00|2020-04-11 08:37:00|     LD-MD| 38.9|Turista con enlace|Flexible|{"Turista con enl...| 2020-02-21 23:00:00|  3110678.0|
|16109477|2020-02-29 14:04:45| CORDOBA|     MADRID|2020-04-28 08:42:00|2020-04-28 10:36:00|     ALVIA| 55.9|           Turista|Flexible|{"Turista": {"Fle...| 2020-02-29 06:00:00|  5363816.0|
|18531373|2020-03-05 06:52:37|  MADRID|    CORDOBA|2020-03-30 11:10:00|2020-03-30 16:46:00|     MD-LD|29.05|Turista con enlace| Promo +|{"Turista con enl...| 2020-03-05 02:00:00|  7763546.0|
|11777957|2020-02-06 02:02:21| SEVILLA|     MADRID|2020-02-19 13:45:00|2020-02-19 16:15:00|       AVE|41.65|           Turista|   Promo|{"Turista": {"Pro...|                null|  1032296.0|
|21997993|2020-03-13 21:18:15|  MADRID|   ZARAGOZA|2020-05-18 06:20:00|2020-05-18 07:35:00|       AVE| 55.7|           Turista|Flexible|{"Turista": {"Fle...| 2020-03-13 19:15:00|1.1180385E7|
|16988770|2020-02-19 19:23:46|  MADRID|   ZARAGOZA|2020-04-02 13:30:00|2020-04-02 14:51:00|       AVE|52.75|      Turista Plus|   Promo|{"Turista": {"Fle...|2020-02-19 17:01:...|  6243109.0|
|18861361|2020-03-06 01:03:39|  MADRID|   ALICANTE|2020-05-13 08:45:00|2020-05-13 11:20:00|       AVE| 41.1|           Turista|   Promo|{"Turista": {"Pro...| 2020-03-05 21:00:00|  8086549.0|
|21969329|2020-03-13 19:33:18|  MADRID|   ALICANTE|2020-05-19 05:45:00|2020-05-19 08:20:00|       AVE| 55.7|           Turista| Promo +|{"Turista": {"Pro...| 2020-03-13 17:30:00|1.1152022E7|
|14348203|2020-02-22 17:03:52|    LEON|     MADRID|2020-04-06 02:25:00|2020-04-06 07:31:00| TRENHOTEL| 39.5|           Turista|Flexible|{"Turista": {"Fle...| 2020-02-22 15:00:00|  3602542.0|
|18021522|2020-03-03 10:05:15|  MADRID|    CORDOBA|2020-04-16 05:20:00|2020-04-16 07:00:00|       AVE| 50.1|           Turista|   Promo|{"Turista": {"Pro...| 2020-03-03 06:00:00|  7264533.0|
|18114301|2020-03-03 14:02:36| SEVILLA|     MADRID|2020-04-05 06:45:00|2020-04-05 09:15:00|       AVE|41.65|           Turista|   Promo|{"Turista": {"Pro...| 2020-03-03 10:00:00|  7355401.0|
|22082077|2020-03-14 01:03:16|  MADRID| VALLADOLID|2020-04-07 15:30:00|2020-04-07 16:33:00|     ALVIA| 37.8|           Turista|Flexible|{"Turista": {"Fle...| 2020-03-13 23:00:00|1.1263793E7|
|22156341|2020-03-14 03:35:31|  MADRID|   VALENCIA|2020-05-26 13:10:00|2020-05-26 14:52:00|       AVE|25.85|           Turista| Promo +|{"Turista": {"Pro...| 2020-03-14 01:30:00|1.1337343E7|
| 8843518|2020-04-03 06:02:23|  MADRID| VALLADOLID|2020-04-05 18:25:00|2020-04-05 19:18:00|       AVE| 37.8|           Turista|Flexible|{"Turista": {"Fle...| 2020-04-03 04:00:00|1.7515204E7|
|12912841|2020-02-13 03:27:54|  MADRID|   VALENCIA|2020-03-19 14:10:00|2020-03-19 15:52:00|       AVE| 45.8|           Turista|   Promo|{"Turista": {"Pro...|                null|  2167180.0|
|20399033|2020-03-10 23:47:25|VALENCIA|     MADRID|2020-05-28 19:15:00|2020-05-28 20:55:00|       AVE|25.85|           Turista| Promo +|{"Turista": {"Pro...| 2020-03-10 21:30:00|  9600422.0|
|21129908|2020-03-12 07:20:54|  MADRID|   ZARAGOZA|2020-05-07 06:30:00|2020-05-07 07:45:00|       AVE| 55.7|           Turista|Flexible|{"Turista": {"Fle...| 2020-03-12 05:15:00|1.0322296E7|
|14263193|2020-02-22 13:32:02|ALICANTE|     MADRID|2020-04-01 07:40:00|2020-04-01 10:11:00|       AVE| 41.1|           Turista|   Promo|{"Turista": {"Pro...| 2020-02-22 11:30:00|  3517532.0|
|11069871|2020-01-29 19:46:59|  MADRID|  BARCELONA|2020-02-28 05:30:00|2020-02-28 08:20:00|       AVE| 58.8|           Turista|   Promo|{"Turista": {"Mes...|                null|   324210.0|
|24889224|2020-03-24 03:23:26|  MADRID|   ZARAGOZA|2020-03-26 08:30:00|2020-03-26 09:45:00|       AVE| 55.7|           Turista|Flexible|{"Turista": {"Fle...| 2020-03-24 01:15:00|1.4134114E7|
+--------+-------------------+--------+-----------+-------------------+-------------------+----------+-----+------------------+--------+--------------------+--------------------+-----------+
only showing top 20 rows

#### create new columns

In [37]:
from pyspark.sql.types import IntegerType

In [38]:
renfe.withColumn('duration', (sf.col('end_date').cast(IntegerType()) - sf.col('start_date').cast(IntegerType())) / 3600)

+--------+-------------------+----------+-----------+-------------------+-------------------+----------+-----+-------------------+--------+--------------------+-------------------+-----------+------------------+
|     _c0|        insert_date|    origin|destination|         start_date|           end_date|train_type|price|        train_class|    fare|          price_tree|              batch|         id|          duration|
+--------+-------------------+----------+-----------+-------------------+-------------------+----------+-----+-------------------+--------+--------------------+-------------------+-----------+------------------+
| 4569288|2019-04-18 11:47:08|    MADRID|  BARCELONA|2019-04-19 09:30:00|2019-04-19 12:40:00|       AVE|107.7|            Turista|Flexible|                null|               null|       null|3.1666666666666665|
|22860054|2020-03-18 19:42:00| BARCELONA|     MADRID|2020-05-29 16:00:00|2020-05-29 19:10:00|       AVE| null|               null|    null|                  {}|2020-03-18 17:15:00|1.2103742E7|3.1666666666666665|
| 5687485|2019-04-29 19:08:10|    MADRID| PONFERRADA|2019-05-20 10:20:00|2019-05-20 16:52:00|     LD-MD|34.35| Turista con enlace| Promo +|                null|               null|       null| 6.533333333333333|
|13856339|2020-02-22 01:04:41|    MADRID|   PALENCIA|2020-04-11 06:00:00|2020-04-11 08:37:00|     LD-MD| 38.9| Turista con enlace|Flexible|{"Turista con enl...|2020-02-21 23:00:00|  3110678.0|2.6166666666666667|
|19660069|2020-03-08 20:05:07|    GIRONA|     MADRID|2020-05-30 06:11:00|2020-05-30 11:10:00| AVANT-AVE| 78.2| Turista con enlace|   Promo|{"Turista con enl...|2020-03-08 16:00:00|  8871715.0| 4.983333333333333|
| 5301099|2019-04-23 22:22:55|   SEVILLA|     MADRID|2019-05-29 15:45:00|2019-05-29 18:17:00|       AVE| 76.3|            Turista|Flexible|                null|               null|       null| 2.533333333333333|
|10926000|2019-11-10 02:04:44|  VALENCIA|     MADRID|2019-12-14 07:10:00|2019-12-14 11:22:00| INTERCITY| null|            Turista|Flexible|                null|               null|   180339.0|               4.2|
|16109477|2020-02-29 14:04:45|   CORDOBA|     MADRID|2020-04-28 08:42:00|2020-04-28 10:36:00|     ALVIA| 55.9|            Turista|Flexible|{"Turista": {"Fle...|2020-02-29 06:00:00|  5363816.0|               1.9|
|15481446|2019-10-28 10:19:12|    MADRID|    SEVILLA|2019-12-05 07:30:00|2019-12-05 10:14:00|     ALVIA| 67.2|            Turista|Flexible|                null|               null|  4735785.0|2.7333333333333334|
| 6503835|2019-05-12 21:35:06|  VALENCIA|     MADRID|2019-05-18 06:10:00|2019-05-18 10:28:00| INTERCITY| 30.9|       Turista Plus|   Promo|                null|               null|       null|               4.3|
| 3652193|2019-08-02 13:38:10|  VALENCIA|     MADRID|2019-08-05 06:00:00|2019-08-05 07:47:00|       AVE|66.55|         Preferente|   Promo|                null|               null|       null|1.7833333333333334|
|10964855|2019-11-10 16:09:21| BARCELONA|     MADRID|2019-12-13 18:00:00|2019-12-13 21:00:00|       AVE|107.7|            Turista|Flexible|                null|               null|   219194.0|               3.0|
|18531373|2020-03-05 06:52:37|    MADRID|    CORDOBA|2020-03-30 11:10:00|2020-03-30 16:46:00|     MD-LD|29.05| Turista con enlace| Promo +|{"Turista con enl...|2020-03-05 02:00:00|  7763546.0|               5.6|
|10828947|2019-11-08 14:00:39|    MADRID|   VALENCIA|2019-11-14 17:40:00|2019-11-14 19:20:00|       AVE| 73.1|TuristaSólo plaza H|Flexible|                null|               null|    83286.0|1.6666666666666667|
|   69411|2019-04-12 11:28:28|    MADRID|  BARCELONA|2019-05-24 07:30:00|2019-05-24 10:34:00|       AVE| null|       Turista Plus|   Promo|                null|               null|       null| 3.066666666666667|
| 9604245|2020-04-05 14:22:19|    GIRONA|     MADRID|2020-04-19 16:11:00|2020-04-19 20:00:00|       AVE| null|               null|    null|                  {}|2020-04-05 12:15:00|1.8277679E7| 3.816666666666667|
| 4044821|2019-08-17 03:03:57|    MADRID|    SEVILLA|2019-09-30 05:30:00|2019-09-30 07:51:00|       AVE| 69.4|         Preferente|   Promo|                null|               null|       null|              2.35|
|21302386|2020-03-12 15:03:54|VALLADOLID|     MADRID|2020-05-10 17:14:00|2020-05-10 18:33:00| INTERCITY| null|               null|    null|                  {}|2020-03-12 13:00:00|1.0492007E7|1.3166666666666667|
| 9207221|2020-04-04 08:23:20|    MADRID|  TARRAGONA|2020-05-21 16:30:00|2020-05-21 18:43:00|       AVE| null|               null|    null|                  {}|2020-04-04 06:15:00| 1.787969E7| 2.216666666666667|
|11777957|2020-02-06 02:02:21|   SEVILLA|     MADRID|2020-02-19 13:45:00|2020-02-19 16:15:00|       AVE|41.65|            Turista|   Promo|{"Turista": {"Pro...|               null|  1032296.0|               2.5|
+--------+-------------------+----------+-----------+-------------------+-------------------+----------+-----+-------------------+--------+--------------------+-------------------+-----------+------------------+
only showing top 20 rows

#### make aggregations

In [39]:
renfe.groupby(['origin', 'destination']).agg({'price': 'mean'})

+-----------+-----------+------------------+
|     origin|destination|        avg(price)|
+-----------+-----------+------------------+
| PONFERRADA|     MADRID| 42.49064153439151|
|   ZARAGOZA|     MADRID| 44.09832723470992|
|     MADRID|   ZARAGOZA| 44.94266409266416|
|     GIRONA|     MADRID|  88.3192748091603|
|     MADRID|     HUESCA| 49.21052631578947|
|   ALBACETE|     MADRID|29.442579505300337|
|     HUESCA|     MADRID| 48.70294117647059|
|     MADRID|       LEON|34.085885167464085|
|     MADRID|   ALBACETE|29.726062499999983|
|     MADRID|  TARRAGONA|63.618848484848534|
| VALLADOLID|     MADRID| 32.78438596491236|
|     MADRID|  BARCELONA|  82.7090735596084|
|     TOLEDO|     MADRID|13.900000000000004|
|CIUDAD REAL|     MADRID|30.904651162790703|
|     MADRID| VALLADOLID| 32.44281206171116|
|     MADRID|     LLEIDA| 61.68541247484908|
|     CUENCA|     MADRID|24.257657657657656|
|     MADRID|    SEGOVIA|18.042500000000004|
|     MADRID|     GIRONA|  89.0326153846154|
|    CORDOBA|     MADRID|54.736618650492915|
+-----------+-----------+------------------+
only showing top 20 rows

In [40]:
renfe.count()

100000

#### apply custom functions

In [41]:
import json

@sf.udf('integer')
def get_seats(price_tree):
    
    if not price_tree:
        return 0

    try:
        price_tree_dict = eval(price_tree)
        first_available_class = [*price_tree_dict][0]
        first_available_fare = [*price_tree_dict[first_available_class]][0]
        seats = price_tree_dict[first_available_class][first_available_fare]['seats']
        return seats

    except:
        return 0

In [42]:
renfe_filtered = renfe_filtered.withColumn('seats', get_seats(sf.col('price_tree')))

In [43]:
renfe_filtered.show()

+--------+-------------------+--------+-----------+-------------------+-------------------+----------+-----+------------------+--------+--------------------+--------------------+-----------+-----+
|     _c0|        insert_date|  origin|destination|         start_date|           end_date|train_type|price|       train_class|    fare|          price_tree|               batch|         id|seats|
+--------+-------------------+--------+-----------+-------------------+-------------------+----------+-----+------------------+--------+--------------------+--------------------+-----------+-----+
|13856339|2020-02-22 01:04:41|  MADRID|   PALENCIA|2020-04-11 06:00:00|2020-04-11 08:37:00|     LD-MD| 38.9|Turista con enlace|Flexible|{"Turista con enl...| 2020-02-21 23:00:00|  3110678.0|  143|
|16109477|2020-02-29 14:04:45| CORDOBA|     MADRID|2020-04-28 08:42:00|2020-04-28 10:36:00|     ALVIA| 55.9|           Turista|Flexible|{"Turista": {"Fle...| 2020-02-29 06:00:00|  5363816.0|   30|
|18531373|2020-03-05 06:52:37|  MADRID|    CORDOBA|2020-03-30 11:10:00|2020-03-30 16:46:00|     MD-LD|29.05|Turista con enlace| Promo +|{"Turista con enl...| 2020-03-05 02:00:00|  7763546.0|  181|
|11777957|2020-02-06 02:02:21| SEVILLA|     MADRID|2020-02-19 13:45:00|2020-02-19 16:15:00|       AVE|41.65|           Turista|   Promo|{"Turista": {"Pro...|                null|  1032296.0|    0|
|21997993|2020-03-13 21:18:15|  MADRID|   ZARAGOZA|2020-05-18 06:20:00|2020-05-18 07:35:00|       AVE| 55.7|           Turista|Flexible|{"Turista": {"Fle...| 2020-03-13 19:15:00|1.1180385E7|  205|
|16988770|2020-02-19 19:23:46|  MADRID|   ZARAGOZA|2020-04-02 13:30:00|2020-04-02 14:51:00|       AVE|52.75|      Turista Plus|   Promo|{"Turista": {"Fle...|2020-02-19 17:01:...|  6243109.0|  254|
|18861361|2020-03-06 01:03:39|  MADRID|   ALICANTE|2020-05-13 08:45:00|2020-05-13 11:20:00|       AVE| 41.1|           Turista|   Promo|{"Turista": {"Pro...| 2020-03-05 21:00:00|  8086549.0|  264|
|21969329|2020-03-13 19:33:18|  MADRID|   ALICANTE|2020-05-19 05:45:00|2020-05-19 08:20:00|       AVE| 55.7|           Turista| Promo +|{"Turista": {"Pro...| 2020-03-13 17:30:00|1.1152022E7|  265|
|14348203|2020-02-22 17:03:52|    LEON|     MADRID|2020-04-06 02:25:00|2020-04-06 07:31:00| TRENHOTEL| 39.5|           Turista|Flexible|{"Turista": {"Fle...| 2020-02-22 15:00:00|  3602542.0|   24|
|18021522|2020-03-03 10:05:15|  MADRID|    CORDOBA|2020-04-16 05:20:00|2020-04-16 07:00:00|       AVE| 50.1|           Turista|   Promo|{"Turista": {"Pro...| 2020-03-03 06:00:00|  7264533.0|  261|
|18114301|2020-03-03 14:02:36| SEVILLA|     MADRID|2020-04-05 06:45:00|2020-04-05 09:15:00|       AVE|41.65|           Turista|   Promo|{"Turista": {"Pro...| 2020-03-03 10:00:00|  7355401.0|  225|
|22082077|2020-03-14 01:03:16|  MADRID| VALLADOLID|2020-04-07 15:30:00|2020-04-07 16:33:00|     ALVIA| 37.8|           Turista|Flexible|{"Turista": {"Fle...| 2020-03-13 23:00:00|1.1263793E7|  235|
|22156341|2020-03-14 03:35:31|  MADRID|   VALENCIA|2020-05-26 13:10:00|2020-05-26 14:52:00|       AVE|25.85|           Turista| Promo +|{"Turista": {"Pro...| 2020-03-14 01:30:00|1.1337343E7|  290|
| 8843518|2020-04-03 06:02:23|  MADRID| VALLADOLID|2020-04-05 18:25:00|2020-04-05 19:18:00|       AVE| 37.8|           Turista|Flexible|{"Turista": {"Fle...| 2020-04-03 04:00:00|1.7515204E7|   83|
|12912841|2020-02-13 03:27:54|  MADRID|   VALENCIA|2020-03-19 14:10:00|2020-03-19 15:52:00|       AVE| 45.8|           Turista|   Promo|{"Turista": {"Pro...|                null|  2167180.0|  284|
|20399033|2020-03-10 23:47:25|VALENCIA|     MADRID|2020-05-28 19:15:00|2020-05-28 20:55:00|       AVE|25.85|           Turista| Promo +|{"Turista": {"Pro...| 2020-03-10 21:30:00|  9600422.0|  289|
|21129908|2020-03-12 07:20:54|  MADRID|   ZARAGOZA|2020-05-07 06:30:00|2020-05-07 07:45:00|       AVE| 55.7|           Turista|Flexible|{"Turista": {"Fle...| 2020-03-12 05:15:00|1.0322296E7|  256|
|14263193|2020-02-22 13:32:02|ALICANTE|     MADRID|2020-04-01 07:40:00|2020-04-01 10:11:00|       AVE| 41.1|           Turista|   Promo|{"Turista": {"Pro...| 2020-02-22 11:30:00|  3517532.0|  256|
|11069871|2020-01-29 19:46:59|  MADRID|  BARCELONA|2020-02-28 05:30:00|2020-02-28 08:20:00|       AVE| 58.8|           Turista|   Promo|{"Turista": {"Mes...|                null|   324210.0|    0|
|24889224|2020-03-24 03:23:26|  MADRID|   ZARAGOZA|2020-03-26 08:30:00|2020-03-26 09:45:00|       AVE| 55.7|           Turista|Flexible|{"Turista": {"Fle...| 2020-03-24 01:15:00|1.4134114E7|  120|
+--------+-------------------+--------+-----------+-------------------+-------------------+----------+-----+------------------+--------+--------------------+--------------------+-----------+-----+
only showing top 20 rows

#### create virtual sql tables and query them

In [44]:
renfe_filtered.createTempView('renfe')

In [45]:
sql_query = """
select
origin,
destination,
avg(price) as mean_price, 
avg(seats) as mean_seats
from renfe
group by origin, destination
order by mean_price desc
"""

In [46]:
routes_prices = spark.sql(sql_query)

In [47]:
routes_prices.show()

+---------+-----------+------------------+------------------+
|   origin|destination|        mean_price|        mean_seats|
+---------+-----------+------------------+------------------+
|   GIRONA|     MADRID|  52.1551724137931| 99.56896551724138|
|BARCELONA|     MADRID| 50.22027595269386|  140.215505913272|
|   MADRID|     MALAGA|49.575160349854194|214.51895043731778|
|   MADRID|     HUESCA| 49.21052631578947| 91.89473684210526|
|   LLEIDA|     MADRID|49.205967078189296| 136.3909465020576|
|   HUESCA|     MADRID| 48.70294117647059|  94.3529411764706|
|   MALAGA|     MADRID| 48.19140672782871| 207.5993883792049|
|   MADRID|  BARCELONA| 47.82461128860492|143.47390841320555|
|   MADRID|    CORDOBA| 47.61044394281416| 166.6561324303988|
|   MADRID|    SEVILLA| 47.19120300751877|139.20193340494092|
|TARRAGONA|     MADRID| 47.13607038123168|154.20527859237538|
|   MADRID|      CADIZ| 46.98571428571429|201.28571428571428|
|   MADRID|     LLEIDA|  46.7782222222222| 152.2711111111111|
|   MADRID|  TARRAGONA| 46.32807262569835|158.64525139664804|
|  SEVILLA|     MADRID| 46.09356060606058|156.68371212121212|
|  CORDOBA|     MADRID| 45.80840490797544|191.17927743694614|
|  GRANADA|     MADRID| 44.75101604278073|204.12299465240642|
|   MADRID|   ZARAGOZA| 44.54531772575257|174.12820512820514|
|   MADRID|    GRANADA| 44.41387559808611|181.79425837320574|
|    CADIZ|     MADRID|44.025000000000006|          201.6875|
+---------+-----------+------------------+------------------+
only showing top 20 rows

#### transform Spark DataFrame into pandas DataFrame

In [48]:
routes_prices_pandas_df = routes_prices.toPandas()

In [49]:
routes_prices_pandas_df

         origin  destination  mean_price  mean_seats
0        GIRONA       MADRID   52.155172   99.568966
1     BARCELONA       MADRID   50.220276  140.215506
2        MADRID       MALAGA   49.575160  214.518950
3        MADRID       HUESCA   49.210526   91.894737
4        LLEIDA       MADRID   49.205967  136.390947
5        HUESCA       MADRID   48.702941   94.352941
6        MALAGA       MADRID   48.191407  207.599388
7        MADRID    BARCELONA   47.824611  143.473908
8        MADRID      CORDOBA   47.610444  166.656132
9        MADRID      SEVILLA   47.191203  139.201933
10    TARRAGONA       MADRID   47.136070  154.205279
11       MADRID        CADIZ   46.985714  201.285714
12       MADRID       LLEIDA   46.778222  152.271111
13       MADRID    TARRAGONA   46.328073  158.645251
14      SEVILLA       MADRID   46.093561  156.683712
15      CORDOBA       MADRID   45.808405  191.179277
16      GRANADA       MADRID   44.751016  204.122995
17       MADRID     ZARAGOZA   44.545318  174.128205
18       MADRID      GRANADA   44.413876  181.794258
19        CADIZ       MADRID   44.025000  201.687500
20     ZARAGOZA       MADRID   43.821959  160.794629
21       MADRID       GIRONA   43.178846   52.653846
22   PONFERRADA       MADRID   42.098394  118.451807
23       MADRID     ALICANTE   41.085983  214.720930
24     ALICANTE       MADRID   40.934105  208.754177
25       MADRID    CASTELLON   40.447000  162.368000
26       MADRID   PONFERRADA   40.149336  108.700997
27    CASTELLON       MADRID   39.970445  160.052224
28         LEON       MADRID   36.939630  183.123794
29     VALENCIA       MADRID   36.496736  173.628856
30       MADRID     VALENCIA   35.436380  174.268795
31       MADRID         LEON   34.004796  174.194245
32   VALLADOLID       MADRID   32.730675  186.910049
33       MADRID   VALLADOLID   32.442812  190.572931
34       MADRID  CIUDAD REAL   31.568367  198.010204
35  CIUDAD REAL       MADRID   30.904651  198.899225
36       MADRID     PALENCIA   29.857619  190.200000
37       MADRID     ALBACETE   29.726062  181.276250
38     PALENCIA       MADRID   29.518750  193.285714
39     ALBACETE       MADRID   29.331228  171.590319
40       MADRID       ZAMORA   27.889655  140.482759
41       ZAMORA       MADRID   27.668519  145.259259
42       MADRID       CUENCA   24.398421  165.600000
43       CUENCA       MADRID   24.257658  159.306306
44      SEGOVIA       MADRID   18.085938  173.250000
45       MADRID      SEGOVIA   18.042500  170.175000
46  GUADALAJARA       MADRID   14.360976  153.768293
47       TOLEDO       MADRID   13.900000  224.918033
48       MADRID       TOLEDO   13.900000  210.629630
49       MADRID  GUADALAJARA   13.096296  147.055556

<div style="padding-top: 25px; float: right">
    <div>    
        <i>&nbsp;&nbsp;© Copyright by</i>
    </div>
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="125">
        </a>
    </div>
</div>